@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --rootBG: 105 55% 96%;
    --primary: 203 39% 44%;
    --secondary: 182 43% 76%;
    --dark: 215 50% 23%;
    --destructive: 355 78% 56%;
  }
  .dark {
  }
}

@layer base {
  body {
    @apply bg-white text-primary;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
